.cartWidget-product-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cartWidget-product-container h4 {
    margin-right: 10px;
}
.detalle-cartWidget{
    display: flex;
    flex-direction: column;
}
.detalle-cartWidget p{
    margin: 0;
}
.carrito-count{
    display: flex;
    justify-content: center;
}
.carrito-count p{
    margin-top: 15px;
}
.CartWidget-footer{
    position: fixed;
    bottom: 10px;
    display: flex;
}
.CartWidget-footer .btn{
    margin-right: 10px;
}
.cart-product-container h4 {
    margin-right: 10px;
}