.card {
    height: 360px;
    width: 360px;
    margin: 10px;
    color: black;
}

@media screen and (min-width: 768px) {
    .card {
        height: 370px;
        width: 340px;}}

@media screen and (min-width: 1024px) {
    .card {
        height: 370px;
        width: 300px;}}

@media screen and (min-width: 1440px) {
    .card {
        height: 370px;
        width: 350px;}}