.carousel{
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
}
.img-carrusel{
    height: 250px;
}

@media screen and (min-width: 768px) {
    .img-carrusel{
        height: 350px;}}

@media screen and (min-width: 1024px) {
    .img-carrusel{
    height: 600px;}}

    @media screen and (min-width: 1440px) {
        .img-carrusel{
        height: 750px;}}