.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Fredoka', sans-serif;
}

form{
  margin: 10px;
}